---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About Me">
    <p>
      Software Engineer with over 6 years of experience specializing in fullstack development. Skilled in Node.js, Nest.js, TypeScript, JavaScript, Golang, Angular, React.js, Next.js, AWS, Docker, and Kubernetes.
    </p>
    <p>
      I’ve worked across diverse industries including education, healthcare, tourism, customer experience platforms and more.
    </p>
    <p>
      I like building things that make sense and help the people who use them. Working as part of a team, sharing ideas, and jumping in where needed make the process more meaningful. I stay open when things shift, ask questions when something’s unclear, and enjoy moving projects forward together.
    </p>
    <p>
      If you want to contact me write to: <a href="mailto:rodrigo.torricodelcastillo@gmail.com">rodrigo.torricodelcastillo@gmail.com</a>
    </p>

  </Page>
</Base>
